/* Your code goes below here */
/*
  Examples of position selectors
*/

p em {
    font-size: 28px;
  }
  
p strong {
    font-size: 32px;
  }

p{color: palegoldenrod;}

ul{color: red;
background-color: royalblue;}

ul em{color: purple;}

li{color: seagreen;
background-color: sienna;}
/* Your code goes above here */