/* Your code goes below here */
/*
selector {
  property: value;
}
*/
p {
    color: #343434;
    font-size: 24px;
    border: 1px solid goldenrod;
  }
  
  a {
    color: green;
    font-size: 28px;
    border: 1px solid blue;
    font-size: x-large;
  }
  
  ol, ul {
    color: green;
    border: 1px solid red;
  }
  
  li {
    color: purple;
    background-color: rgb(79, 77, 47);
    font-size: x-large;
  }

strong{color: burlywood;
    background-color: crimson;}


em{
    color: darkgray;
    background-color: darkorchid;
}

/* Your code goes above here */